!!!
%body
%head
  %title coachme
  %style
    td { min-width: 16px }
    td.name { padding-right: 16px }
    td.weekend { background-color: lightgray }
    td.checkin { background-color: green }
%body
  %table
    - @habits.each do |name, days|
      %tr
        %td.name
          = name
        - @date_range.each do |day|
          - bgcolor = 'weekend' if day.cwday > 5
          - bgcolor = 'checkin' if days.include? day.strftime
          %td{ :class => bgcolor , title: day.strftime }
