!!!
%html
  %head
    %title bunnylol.rb
    %link{ rel: "search", type: "application/opensearchdescription+xml", href: "/opensearch.xml", title: "bunnylol"}
  %body
    %p
      %form
        %input{ type: 'text', name: 'q' }
        %input{ type: 'submit' }
    %table
      - @help.each do |name, help|
        %tr
          %td
            %strong
              = name
          %td
            = help
