%OpenSearchDescription{xmlns:"http://a9.com/-/spec/opensearch/1.1/"}
  %ShortName bunnylol
  %Description Search with Bunnylol
  %InputEncoding UTF-8
  %Url{type: "text/html", method: "get", template: "#{request.base_url}/?q={searchTerms}"}
